@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

@media(min-width: 1100px) {
    body {
        font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        margin: 100px;
    }
}

@media(max-width: 1100px) {
    body {
        font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        margin-top: 40px;
    }
}

h2 {
    font-weight: 400;
}

a {
    color: #2E86C1;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #1F618D;
}

.delusions h3 {
    font-weight: 400;
    margin-bottom: 0;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer h3 {
    font-weight: 400;
    margin: 0;
}

footer h4 {
    font-weight: 400;
    margin: 0;
}

.attention {
    color: red;
}